<header class="bg-primary text-white py-5">
    <div class="container text-center py-5">
        <h1>Pluralsight Angular Events</h1>
        <p>A Landing Page Redesigned for Angular Events Project</p>
    </div>
</header>

<section class="container mt-5">
    <div class=" row">
        <div class="col-lg-8 mx-auto">
            <p class="lead">This project is based on Pluralsight Angular Fundamentals course.</p>
            <p>This course will teach you the fundamentals of working with the latest version of Angular. You will learn everything you need to know to create complete applications including: components, services, directives, pipes, routing, HTTP, and even testing.</p>
            <ul>
                <li>Clickable nav links that smooth scroll to page sections</li>
                <li>Responsive behavior when clicking nav links perfect for a one page website</li>
                <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar
                </li>
                <li>Minimal custom CSS so you are free to explore your own unique design options</li>
            </ul>
        </div>
    </div>
</section>